body {
  font-family: $ts-body-font;
  font-size: $ts-body-font-size;
  font-weight: $ts-body-font-weight;
}

h1 {
  font-family: $ts-h1-font;
  font-size: $ts-h1-font-size;
  font-weight: $ts-h1-font-weight;
}

h2 {
  font-family: $ts-h2-font;
  font-size: $ts-h2-font-size;
  font-weight: $ts-h2-font-weight;
}

h3 {
  font-family: $ts-h3-font;
  font-size: $ts-h3-font-size;
  font-weight: $ts-h3-font-weight;
}

h4 {
  font-family: $ts-h4-font;
  font-size: $ts-h4-font-size;
  font-weight: $ts-h4-font-weight;
}

h5 {
  font-family: $ts-h5-font;
  font-size: $ts-h5-font-size;
  font-weight: $ts-h5-font-weight;
}

h6 {
  font-family: $ts-h6-font;
  font-size: $ts-h6-font-size;
  font-weight: $ts-h6-font-weight;
}