.acf-table .acf-row:nth-child(odd) > .acf-row-handle.order {
    background: #1468a0;
    color: rgba(184, 255, 42, 0.09);
}

.acf-input .CodeMirror {
    height: auto;
}

.wp-block {
    max-width: 98%;
}